html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* general */
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  background-color: lightgrey;
}
img {
  display: block;
  width: 100%;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 1px solid #c6c6c6;
  background-color: white;
}

/* header */
header {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0.8rem;
  /* border-bottom: 1px solid #e6e6e6; */
}
.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logo {
  max-width: 150px;
  /* height: 80px; */
}

/* post */
.username-container {
  padding: 0.8rem;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.post-pic {
  height: 375px;
  width: 100%;
  object-fit: cover;
}
.info-and-button-container {
  padding: 1rem 0.8rem;
}

.icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.icons img {
  height: 30px;
  width: 30px;
}
.icons button {
  background-color: inherit;
  border: none;
}
.info-and-button-container p:not(:last-child) {
  margin-bottom: 0.3rem;
}
.bold {
  font-weight: bold;
}
