html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* general */
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  background-color: lightgrey;
  /* margin: 0 auto; */
  /* max-width: 375px;
  min-width: 300px;  */
}
img {
  display: block;
  /* width: 100%; */
}
.app-container {
  max-width: 375px;
  min-width: 300px;
  margin: 0 auto;
}
.container {
  margin-bottom: 1rem;
  border: 1px solid #c6c6c6;
  background-color: white;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8rem;
  border-bottom: 3px solid #ededed;
}
header.container {
  margin-bottom: 0;
}
.avatar-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.logo {
  max-width: 120px;
}

/* post */
.username-container {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.username h2 {
  font-size: 13px;
  margin-bottom: 0.1rem;
}
.post-pic {
  height: 375px;
  width: 100%;
  object-fit: cover;
}
.info-and-button-container {
  padding: 1rem 0.8rem;
}

.icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.icons img {
  height: 30px;
  width: 30px;
}
.icons button {
  background-color: inherit;
  border: none;
}
.info-and-button-container p:not(:last-child) {
  margin-bottom: 0.3rem;
}
.bold {
  font-weight: bold;
}
